@charset "UTF-8";
/*
  Test
 Y's test for cofs
*/

.page-content {
  height: 1136px;
  display: block;
}

.page-left-wrapper {
  float: left;
  width: 650px;
  height: 1136px;
  position: relative;
}

.page-left {
    width: 640px;
    height: 1122px;
    position: relative;
    overflow: hidden;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #ededed;
} 

.page-left-Header {
    width: 634px;
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    background-color: #d8d8d8;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-radius: 4px;
    font-size: 14px;
    color: #585858;
    font-family: "Myriad Pro";
    font-weight: 600;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page-left-container {
    float: left;
    width: 306px;
    height: 350px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    margin-right: 5px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.endFloat {
    clear: both;
}

.page-right1 {
    float: left;
    width: 324px;
    height: 385px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #ededed;
}

.page-right-Header1 {
    width: 318px;
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    background-color: #d8d8d8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
    color: #585858;
    font-family: "Myriad Pro";
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page-right1-container {
    float: left;
    width: 306px;
    height: Auto;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c9c9c9;
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-radius: 4px;
    background-color: #f2f2f2;
}

.page-right1-word {
    margin-bottom: 8px;
    margin-left: 9px;
    width: 290px;
    height: auto;
    font-size: 13px;
    line-height: 1.7em;
    color: #202020;
    border-bottom: 1px solid #cfcfcf;
    overflow: hidden;
    text-align: left;
}

.page-right1-wordEnd {
    margin-bottom: 8px;
    margin-left: 9px;
    width: 290px;
    height: auto;
    font-size: 13px;
    line-height: 1.7em;
    color: #202020;
    overflow: hidden;
    text-align: left;
}

.page-right {
    float: left;
    width: 324px;
    height: 359px;
    margin-top: 15px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #ededed;
}

.page-right-Header {
    width: 318px;
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 5px;
    background-color: #d8d8d8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
    color: #585858;
    font-family: "Myriad Pro";
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page-right-container {
    width: 318px;
    height: 106px;
    margin-right: 2px;
    margin-left: 2px;
}

.page-right2 {
    float: left;
    width: 324px;
    height: 344px;
    margin-top: 15px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-radius: 4px;
    background-color: #ededed;
    overflow: hidden;
}

.page-right-Header2 {
    width: 318px;
    height: 16px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 2px;
    margin-bottom: 11px;
    background-color: #d8d8d8;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #c4c4c4;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 14px;
    color: #585858;
    font-family: "Myriad Pro";
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.page-right2-container {
    width: 308px;
    height: 295px;
    margin-right: 7px;
    margin-left: 7px;
    background-color: #ededed;
}

.endFloat {
    clear: both;
}
