<header class="site-header"> <!-- body 1 -->
  <div class="wrap">
    <div class="take2remspace"></div>
    <div class="measure">
      <a href="{{ site.bannerlink }}" class="banner"><img src="{{ site.banner | prepend: "/images/" | prepend: site.baseurl }}"></a>
      <a href="{{ site.baseurl | prepend: site.url }}" class="center">广东省光纤传感技术粤港联合研究中心</a><br>
      <a href="" class="secondary center">Guangdong and Hong Kong Joint Research <b>C</b>entre for <b>O</b>ptical <b>F</b>ibre <b>S</b>ensors (COFS)</a><br>
      <!--
        The original solution.
          <a href="{{ site.baseurl | prepend: site.url }}" class="secondary center">{{ site.subtitle }}</a>
        Replaced by current solution to highlight letters.
      -->
      <a href="" class="center">深圳市物联网光子器件与传感系统重点实验室</a><br>
      <a href="{{ site.baseurl | prepend: site.url }}" class="secondary center">Shenzhen Key Lab of <b>P</b>hotonic <b>D</b>evices and <b>S</b>ensing <b>S</b>ystems for Internet of Things (PDSS)</a>
      <nav class="site-nav center">
        {% include navigation.html %}
      </nav>
    </div>
  </div>
</header><!-- body 1 -->
