<header class="site-header">
  <div class="wrap">
    <div class="measure">
      <a href="{{ site.bannerlink }}" class="banner"><img src="{{ site.banner | prepend: "/images/" | prepend: site.baseurl }}"></a>
      <a href="{{ site.baseurl | prepend: site.url }}" class="center">{{ site.title }}</a><br>
      <a href="{{ site.baseurl | prepend: site.url }}" class="secondary center">{{ site.subtitle }}</a>
      <nav class="site-nav center">
        {% include navigation.html %}
      </nav>
    </div>
  </div>
</header>
