<head>
    <!-- 首页head -->
    <!--
    **
    *
    * Author:         Qu Xiaofeng
    * Contact:        xiaofeng.qu.hk@ieee.org
    * Website:        http://www.quxiaofeng.me
    * Github:         http://github.com/quxiaofeng
    * Inspired by:    http://pixyll.com
    *
    * Author:         Deng Mi
    * Contact:        dengmi@email.szu.edu.cn
    * Website:        http://miss-mi.tk
    * Github:         https://github.com/miss-mi
    *
    **
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{{ site.author }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/basscss.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/pixyll.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/solarized-dark.css" | prepend: site.baseurl }}" type="text/css">
    <link rel="stylesheet" href="{{ "/css/diy.css" | prepend: site.baseurl }}" type="text/css">

    {% if page.carousel %}
    <link rel="stylesheet" href="{{ "/css/flexslider.css" | prepend: site.baseurl }}" type="text/css">
    <!-- Google CDN Hosted jQuery  -->
    <script src="{{ "/js/jquery-2.1.4.min.js" | prepend: site.baseurl }}"></script>
    <!-- Flexslider Library  -->
    <script src="{{ "/js/jquery.flexslider-min.js" | prepend: site.baseurl }}"></script>
    <!-- Initialisation Code  -->
    <script src="{{ "/js/app.js" | prepend: site.baseurl }}"></script>
    {% endif %}
     <!-- 首页head -->
</head>
