<header class="site-header">
  <div class="wrap">
    <div class="take2remspace"></div>
    <div class="measure">
      <a href="{{ site.bannerlink }}" class="banner"><img src="{{ site.banner | prepend: "/images/" | prepend: site.baseurl }}"></a>
      <a href="{{ site.baseurl | prepend: site.url }}" class="center">{{ site.title }}</a><br>
      <!--
        The original solution.
          <a href="{{ site.baseurl | prepend: site.url }}" class="secondary center">{{ site.subtitle }}</a>
        Replaced by current solution to highlight letters.
      -->
      <a href="{{ site.baseurl | prepend: site.url }}" class="secondary center">Shenzhen Key Lab of <b style="color:red">P</b>hotonic <b style="color:red">D</b>evices and <b style="color:red">S</b>ensing <b style="color:red">S</b>ystems for Internet of Things (PDSS)</a>
      <nav class="site-nav center">
        {% include navigation.html %}
      </nav>
    </div>
  </div>
</header>
