<h2>研究进展</h2>
<ul>
  <li>
  <a href="http://photonicsensing.tk/papers/%5B3%5D-Long%20period%20fiber%20gratings%20inscribed%20with%20an%20improved%20two-dimensional%20scanning%20technique.pdf">
    Long Period Fiber Gratings Inscribed With an Improved Two-Dimensional Scanning Technique<br>
    X. Zhong et al., IEEE Photonics Journal (2014).
  </a>
  </li>
  <li>
  <a href="http://photonicsensing.tk/papers/%5B4%5D-Ultrasensitive%20refractive%20index%20sensor.pdf">
    Ultrasensitive refractive index sensor based on a Mach–Zehnder interferometer created in twin-core fiber<br>
    Z. Li et al., Optics Letters (2014).
  </a>
  </li>
  <li>
  <a href="http://photonicsensing.tk/papers/changruiliao2014opticsletters.pdf">
    Sub-micron silica diaphragm based fiber-tip Fabry-Perot interferometer for pressure measurement<br>
    C. Liao et al., Optics Letters (2014).
  </a>
  </li>
  <li>
  <a href="http://photonicsensing.tk/papers/%5B6%5D-Temperature-insensitive%20refractive%20index%20sensor%20based%20on%20in-fiber%20Michelson%20interferometer.pdf">
    Temperature-insensitive refractive index sensor based on in-fiber Michelson interferometer<br>
    Z. Li et al., Sensors and Actuators B: Chemical (2014).
  </a>
  </li>
</ul>