<h2 style="color: #4D4DFF;">研究进展</h2>

{% for paper in site.newpapers %}
    {% if paper.name %}
        <a href="{{ paper.doc | prepend: "/papers/" | prepend: site.baseurl }}">
            <h3 style="text-align: center;"> {{ paper.name }} </h3>
        </a>
    {% endif %}
    <div class="flexslider" style="margin: 0 0 10px;">
        <ul class="slides">
            <li>
                <a href="{{ paper.doc | prepend: "/papers/" | prepend: site.baseurl }}">
                    <img src="{{ paper.image | prepend: "/images/" | prepend: site.baseurl }}">
                    {% if paper.title and paper.author %}
                        <p class="flex-caption">{{ paper.title }}<br/>{{ paper.author }}</p>
                    {% elsif paper.author and paper.title == null %}
                        <p class="flex-caption">{{ paper.author }}</p>
                    {% elsif paper.title and paper. author == null %}
                        <p class="flex-caption">{{ paper.title }}</p>
                    {% else %}
                    {% endif %}
                </a>
            </li>
        </ul>
    </div>
{% endfor %}


<div id="page-content">
	<div id="page-left-wrapper">
    	<div id="page-left">
            <div id="page-left-Header"> &nbsp;&nbsp;&nbsp;&nbsp; Research Highlights</div>
            
                <div class="page-left-container">
            	<div class="page-left-tittle">Graphene-doped polymer optical<br />  nanofibers</div>
                <div class="page-left-pic"><a href="news/news_index.html" target="_blank"><img src="images/pic_mc.jpg" alt=" " width="280" height="184" /></a></div>
                <div class="page-left-word">Graphene-doped polymer nanofibers are fabricated by taper drawing solvated polyvinyl alcohol doped with... <a href="news.php">Read more&raquo;</a></div>
                <div class="page-left-date">C. Meng et al.,<a href="http://221.8.12.233/cms/accessory/files/lsa_2015_121.pdf" target="_blank"><span style="font-style:italic" > Light Sci. Appl. </span> <span style="font-weight:600";>4</span>, e348 (2015).</a>  </div>
            </div>
            
                <div class="page-left-container">
            	<div class="page-left-tittle">Single nanowire optical correlator for ultrafast pulse characterization</div>
                <div class="page-left-pic"><a href="news/news_index.html" target="_blank"><img src="images/pic_yhk.jpg" alt=" " width="280" height="184" /></a></div>
                <div class="page-left-word">Integration of miniaturized elements has been a major driving force behind modern photonics. Nanowires have emerged as... <a href="news.php">Read more&raquo;</a></div>
                <div class="page-left-date">H. K. Yu et al.,<a href="http://pubs.acs.org/doi/abs/10.1021/nl5010477" target="_blank"><span style="font-style:italic"> Nano Lett. </span> <span style="font-weight:600";>14</span>, 3487-3490 (2014).</a>  </div>
            </div>
            <div class="endFloat"></div>
            
            <div class="page-left-container">
            	<div class="page-left-tittle">Ultrafast (200-GHz) graphene all-optical modulator</div>
                <div class="page-left-pic"><a href="news/news_index.html" target="_blank"><img src="images/pic1.jpg" alt=" " width="280" height="184" /></a></div>
                <div class="page-left-word">Graphene offers broadband light-matter interactions with ultrafast responses. The bandwidth of previous graphene... <a href="news.php">Read more&raquo;</a></div>
                <div class="page-left-date">W. Li et al.,<a href="http://pubs.acs.org/doi/abs/10.1021/nl404356t" target="_blank"><span style="font-style:italic"> Nano Lett. </span> <span style="font-weight:600";>14</span>, 955-959 (2014).</a>  </div>
            </div>
             
             
            <div class="page-left-container">
            	<div class="page-left-tittle">Subtle balance in nanowaveguides: loss v.s. confinement</div>
                <div class="page-left-pic"><a href="news/news_index.html" target="_blank"><img src="images/pic2.jpg" alt=" " width="280" height="184" /></a></div>
                <div class="page-left-word">In deep-subwavelength optical nanowires, the waveguiding loss increases with increasing optical confinement, which may... <a href="news.php">Read more&raquo;</a></div>
                <div class="page-left-date">X. Guo et al.,<a href="http://pubs.acs.org/doi/abs/10.1021/ar400232h" target="_blank"><span style="font-style:italic"> Acc. Chem. Res. </span> <span style="font-weight:600";>47</span>, 656-666 (2014).</a></div>
            </div>
            <div class="endFloat"></div>
         
        
         	
            <div class="page-left-container">
            	<div class="page-left-tittle">Photon-plasmon hybrid nanowire (NW) <br /> laser </div>
                <div class="page-left-pic"><a href="news/news_index.html" target="_blank"><img src="images/pic3.jpg" alt=" " width="280" height="184" /></a></div>
                <div class="page-left-word">By near-field coupling a CdSe and a Ag nanowires, Wu et al. demonstrated a hybrid photon-plasmon laser operating... <a href="news.php">Read more&raquo;</a></div>
                <div class="page-left-date">X. Q. Wu et al.,<a href="http://pubs.acs.org/doi/abs/10.1021/nl403325j" target="_blank"><span style="font-style:italic"> Nano Lett. </span> <span style="font-weight:600";>13</span>, 5654-5659 (2013).</a></div>
            </div>
             
            
            <div class="page-left-container">
            <div class="page-left-tittle">70% photon-to-plasmon conversion efficiency in a single Au nanorod</div>
                <div class="page-left-pic"><a href="news/news_index.html" target="_blank"><img src="images/pic4.jpg" alt=" " width="280" height="184" /></a></div>
                <div class="page-left-word">When a Au nanorod is placed inside an optical nanofiber, it can be efficiently excited by the waveguiding mode with... <a href="news.php">Read more&raquo;</a></div>
                <div class="page-left-date">P. Wang et al., <a href="http://pubs.acs.org/doi/abs/10.1021/nl301055f" target="_blank"><span style="font-style:italic"> Nano Lett. </span> <span style="font-weight:600";>12</span>, 3145-3150 (2012).</a></div>    
            </div>
            <div class="endFloat"></div>
            

     
        </div> <!--end of page-left-->
    </div>   
	<!--end of page-left-wrapper-->
