---
layout: default
---
<div class="post">
  <article class="post-content">
  <div>
  <div class="index-left-photos">
    <br>
    <div class="flexslider">
      <ul class="slides">
        {% for slides in page.carousel %}
        <li>
          <img src="{{ slides.image | prepend: "/images/" | prepend: site.baseurl }}">
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="index-right-moto-and-news">
    <p style="padding-top: 2rem; padding-buttom: 20rem">{{ site.description }}</p>
  </div>
  </div>
  <hr style="border-top: dotted 3px #A08359; width： 100%； ">
  <div>
  <div class="index-left-photos">
    {% include newpapers.html %}
  </div>
  <div class="index-right-moto-and-news">
    {{ content }}
    <h2>热点链接</h2>
    {% include links.html %}
  </div>
  </div>
  </article>
</div>



