---
layout: default
---
<div class="post">
  <div class="post-content">
    
    <div class="home-page-promos">
      
      <div class="index-left-photos" style="height: 400px;">
        <div class="flexslider">
          <ul class="slides" style="font-size: 1.0rem; line-height: 1.0rem;">
            {% for slides in page.carousel %}
            <li>
              <img src="{{ slides.image | prepend: "/images/" | prepend: site.baseurl }}">
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      
 	<div id="promo-right">
 		<div id="promo-right-container-a">
     			<a href="people/people_index.html" target="_blank"><img src="/images/2016shiyanshi.jpg" alt="Our group" width="430" height="202" /></a>
     
    		</div>
     
    		<div id="promo-right-container-b">
     			<span style="font-size:13px; line-height:1.7em;">
			 <span style="font-weight:600; font-size:14px">深圳市物联网光子器件与传感系统重点实验室</span> 
			 	“深圳市物联网光子器件与传感系统重点实验室”成立于2014年。2012年王义平教授入职深圳大学光电工程学院，在中国工程院院士牛憨笨教授的大力支持下，依托光学工程博士点和博士后流动站组建光纤传感技术研究团队和实验室。实验室面向物联网技术的底层（传感器技术），专注于新型光子器件和传感系统的应用基础研究，研究方向包括： （1）光纤微加工技术；（2）光纤微结构传感技术；（3）光纤新材料传感技术。 实验室坚持高起点、高层次的建设理念，围绕光子器件和传感系统领域专业建设、人才培养、科学研究、产业应用四个核心方向开展创新工作，致力于建设成为本领域具有国际影响力的研究团队。
       			<a href="welcome.pdf" target="_blank"> <span style="font-size:15px; font-style:italic">Join us</span></a> 
       			<a href="welcome.pdf" target="_blank"><span style="font-family:'黑体'; font-size:15px; color:#B81818; ">招生介绍</span> </a> 
       			</span> 
    		</div>
   	</div>
        <!--<div class="index-right-moto-and-news" div align="center" style="height: 400px;"><a href="http://www.ofsc2016.cn/">
        <h2><span style="color: #9C2C5C;font-size: 1.9rem; line-height: 3.4rem;float: center">2016 中国光纤传感学术会议暨产业化论坛</span></h2>
        <h2><img src="/images/ofsc_logo.jpg" style="width: 66%; float: center;"></h2>
        <h2><span style="color: #9C2C5C;font-size: 1.67rem; line-height: 2.3rem;">中国·深圳 <br>2016年4月16日～19日</span></h2>
        </a>
      </div> -->
   
    
    <div class="page-content">
      <div class="page-left-wrapper">
        {% include newpapers.html %}
      </div>
      
	 <div class="page-right">		 
        	 {{ content }}		
         
  <!-- <h2 style="color: #4D4DFF;">热点链接</h2> -->
  <!-- {% include links.html %} -->
  
         
       </div>

    </div>
  </div>
</div>
</div>
<!-- 内容框架 -->
